
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #161616;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
    display: none;
}

/* NAVBAR */
.hero-logo {
	position: fixed;
	margin: 2em;
	mix-blend-mode: difference;
	z-index: 2;
}

.hero-logo img {
	width: 10%;
	height: 10%;
}

.menu-toggle {
	position: fixed;
	right: 0;
	margin: 2em;
	mix-blend-mode: difference;
	z-index: 2;
}

.menu-toggle ion-icon {
	font-style: 16px;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #5a2922;
	z-index: 0;
	opacity: 0;
}

.overlay ion-icon {
	position: fixed;
	right: 0;
	margin: 2em;
	color: #fff0ced6;
}

.overlay ul {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	list-style: none;
}

.overlay ul li {
	font-size: 84px;
}

.overlay ul li a {
	color: transparent;
	-webkit-text-stroke: 1px #fff0ced6;
	font-family: "Times New Roman";
	text-transform: uppercase !important;
}

.overlay ul li a:hover {
	text-decoration: none;
	color: #fff0ced6;
}

/* RUNWAY/PROJECT SECTION */
.projects-contain {
    position: absolute;
    display: flex;
    top: 20%;
    align-items: center;
    justify-content: space-between;
    min-height: 300vh;
    width: 100%;
    flex-direction: column;
}

.contain {
    position: relative;
    width: 560px;
    height: 100vh;
    margin: 50px 400px 120px 80px;
}

.contain .c-title {
    position: absolute;
    left: 40px;
    bottom: -40px;
    color: #fff;
    font-style: italic;
    text-transform: lowercase;
    font-size: 50px;
}

.contain .c-title a {
    transition: 1.6s;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.contain:hover .c-title a {
    transition: 1.6s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    text-decoration: underline .5px;
}

.project-h1 {
    position: relative;
    width: 660px;
    height: 10px;
    margin: 20px 400px 100px 80px;
}

.project-h1 h1 {
    font-size: 80px;
    text-transform: uppercase;
    text-decoration: underline .5px;
    font-weight: lighter;
}

.hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.hover ion-icon {
    font-size: 150px;
    opacity: 0;
    transition: .6s;
}

/* IMAGE DISPLAY */
.c1 {
    background-image: url(/assets/6.jpg);
}

.c2 {
    background-image: url(/assets/pirate/29.png);
}

.c3 {
    background-image: url(/assets/portrait/38.jpg);
}

.c4 {
    background-image: url(/assets/anglophilia/51.jpg);
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: .6s;
}

.contain:hover .hover ion-icon {
    opacity: 1;
    z-index: 100;
    transition: .6s;
}

.contain:hover .hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* MEDIA QUERIES */
@media(max-width: 1150px) {
    .contain,
    .project-h1 {
        margin: 50px 230px 90px 95px;
    }
}

@media(max-width: 900px) {
    .contain,
    .project-h1 {
        width: 300px;
        height: 450px;
        margin: 50px 100px 70px 80px;
    }

    .overlay ul li {
		font-size: 30px;
		padding: 10px 0;
	}

    .contain .c-title {
        font-size: 25px;
        bottom: -20px;
    }

    .project-h1 {
        margin-bottom: -300px;

    }

    .project-h1 h1 {
        font-size: 45px;
    }

    .hover ion-icon {
        font-size: 70px;
    }
}

@media(max-width: 320px) {
    .contain,
    .project-h1 {
        width: 220px;
        height: 450px;
        margin: 50px 100px 70px 80px;
    }

    .contain .c-title {
        font-size: 25px;
        bottom: -20px;
    }

    .project-h1 {
        margin-bottom: -300px;

    }

    .project-h1 h1 {
        font-size: 42px;
    }

    .hover ion-icon {
        font-size: 70px;
    }
}